/* Write your CSS here! */ 
div {
  margin: 50px 50px 50px 50px;
}
div {
    padding: 25px 25px 25px 25px;
  }
div {
    background-color: rgb(161, 246, 155);
}
body {
    margin: 8px;
    display: block;
}
#mainHeading {
    color: red;
}
.funParagraph {
    color: green;
}
div {
    text-align: center;
}