/* Write your CSS here! */ 
div {
  margin: 50px 50px 50px 50px;
}
div {
    padding: 25px 25px 25px 25px;
  }
div {
    background-color: lightgoldenrodyellow;
}
body {
    margin: 8px;
    display: block;
}
mainHeading {
    text-decoration-color: red;
}
.funParagraph{
    text-decoration-color: green;
}